body{
    width:100%;
    height:100%;
}
.navBar{
    display:block;
    background-color:#000000;
    overflow:auto;
    }
    .web-site-name{
    color:#ffffff;
    cursor: pointer;
    }
    li{
    color:#ffffff;
    float:right;
    padding:0px 25px 0px 25px;
    margin:0px 15px 0px 15px;
    display:block;
    list-style-type:none;
    }
    li a{
    color:#ffffff;
    text-decoration:none;
    padding: 10px;
    }
    li a:hover{
    background-color:#ffffff;
    color:#000000;
    border: white;
    border-radius: 10px;
    }
    footer .container{
        padding:5px;
        color:#ffffff;
        background-color:#000000;
    }
    .img{
        width: 300px;
        height: 300px;
    }
    .product1{
        min-height: 200px;
        width: 400px;
        margin-top: 30px;
        margin-right: 30px;
    }
    .product2{
        min-height: 200px;
        width: 400px;
        margin-top: 30px;
    }
    .product3{
        min-height: 200px;
        width: 400px;
        margin-top: 30px;
        margin-right: 30px;
    }
    .product4{
        min-height: 200px;
        width: 400px;
        margin-top: 30px;
    }
    .product5{
        min-height: 200px;
        width: 400px;
        margin-top: 30px;
        margin-right: 30px;
    }
    .product6{
        min-height: 200px;
        width: 400px;
        margin-top: 30px;
    }
    .block .firsttwo{
        margin-left: 250px;
        padding: 20px;
        position: relative;
        display: flex;
    }
    .block .midtwo{
        margin-left: 250px;
        padding: 20px;
        position: relative;
        display: flex;
    }
    .block .lasttwo{
        margin-left: 250px;
        padding: 20px;
        position: relative;
        display: flex;
    }
    button{
        border: 2px solid goldenrod;
        border-radius: 10px;
        cursor: pointer;
        font-size: 25px;
    }